{% extends 'base.html.twig' %}

{% block title %} les paniers !{% endblock %}

{% block body %}
    {% for panier in paniers %}

        <div>
            <pre>
                {{ dump(panier) }}
            </pre>
            {# <div>etat : {{ panier.etat }} </div>  
            <div>id : {{ panier.id }} </div> 
            <div>user : {{ panier.user }} </div> 
            <div>id : {{ panier.id }} </div>  #}
        </div>
    {% endfor %}
{% endblock %}
