{% extends 'base.html.twig' %}



{% block body %}
<div class="text-center my-3">
<h1>Bienvenue sur notre site e commerce</h1>
<p>Retrouvez un max de Produits et a bon prix(enfin je crois). voilà c'est tout</p>
  
    <div class="text-start my-3 row">
    <div class="col-4 mx-auto">
        <img src="./image/ecommerce.logo_.png" width="250" height="250">
    </div>
    <div class="col-6 mx-auto">
        <p class="text-info">pour ajouter un produit c en dessous(pour admin et super_admin)</p>
        <a href={{ path('produit_add') }}><button class="btn btn-info">Ajouter un produit</button></a>
    </div>
    </div>
</div>
<hr>
<div class="d-flex flex-wrap justify-content-around my-3">
{% for produit in produitList %}
    <div class="card" style="width: 18rem;">
     <img src={{asset('upload/'~produit.photo)}}  text={{produit.nom}} class="card-img-top">
      <div class="card-body">
                <h5 class="card-title">{{produit.nom}}</h5>
                <p class="card-text">{{produit.prix}} $ </p>
                <br>
                <p class="card-text">Stock restant: {{produit.stock}}</p>
                <br>
                <a href={{path('produit_single', {id:produit.id})}} class="btn btn-primary">Voir le produit</a>
            </div>
    </div>
{% else %}
     <h2 class="text-danger">Il n'y a pas ce produit pour le moment(dsl).</h2>
{% endfor %}
</div>

{% endblock %}
